.search-bar-wrapper {
  width: 90%;
  display: flex;
}

.search-btn {
  background-color: rgb(29,161,242);
  color: black;
  border: none;
}

.search-btn:hover {
  background-color: rgb(29,161,242);
  color: black;
  border: none;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(247, 181, 144, 0.25);
  border-color: rgb(29,161,242);
}
